body{
    font-family: 'Open Sans',sans-serif;
    background-color: black;
}
#container{
    width: auto;
    height: auto;
    padding: 20px;
    background-color: whitesmoke;
    margin: 0 auto;
    position: relative;
}
#calculator{
    width: 320px;
    height: 524px;
    background-color: black;
    margin: 0 auto;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
}
#result{
    height: 120px;
    background-color: white;
    border-radius: 5px 5px 0 0;
}
#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px 20px;
}
.empty,.number,.operator{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50px;
    font-size: 15px;
    border-width: 0;
    font-weight: bold;
}
.empty,.number{
    background-color: lightgray;
}
.number,.operator{
    cursor: pointer;
}
.number:active{
    font-size: 13px;
    background-color: darkgrey;
}
.operator:active{
    font-size: 13px;
    background-color: white;
}
.number:focus,.operator:focus,.empty:focus{
    outline: 0px;
}
button:nth-child(4){
    font-size: 20px;
    background-color: #20b2aa;
}
button:nth-child(8){
    font-size: 20px;
    background-color: #ffa500;
}
button:nth-child(12){
    font-size: 20px;
    background-color: #f08080;
}
button:nth-child(16){
    font-size: 20px;
    background-color: #7d93e0;
}
button:nth-child(20){
    font-size: 20px;
    background-color: #9477af;
}
#keyboard{
    height: 400px;
    background-color: lightgrey;
    border-radius: 0 0 5px 5px;

}